$square-alive: lightgreen;
$square-dead: black;

@mixin auto-margins-center() {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body { text-align: center; }

footer {
	color: #666666;
	width: 100%;
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
}

#generations {
	font-size: 20px;
	margin-left: 10px;
	pointer-events: none;
}

#grid {
	padding: 20px;
	width: 600px;
	height: 100%;
	margin-top: 10px;
	@include auto-margins-center();
}

.footer-contents {
	padding-top: 30px;
	width: 50%;
	border-top: thin dotted darkgrey;
	@include auto-margins-center();
}

.control-buttons {
	bottom: 10px;
	top: 10px;
}

.control-buttons button {
	height: 30px;
	width: 80px;
	outline: none;
	transition: 0.2s;
	opacity: 0.85;
}

.control-buttons button:hover { opacity: 1; }

.container {
	margin-top: 50px;
	text-align: center;
}

.square {
	position: relative;
	display: inline-block;
	height: 10px;
	width: 10px;
	border: thin solid gray;
}

.square:hover { background-color: $square-alive; }

.dead { background-color: $square-dead; }

.alive { background-color: $square-alive; }

.row {
	width: 100%;
	left: 35px;
	position: relative;
	margin-top: -10px;
}